body {
  width: 80%;
  margin: auto;
  min-height: 100vh;
  margin-top: 16px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
table {
  padding: 16px;
}
td,
th {
  padding: 14px 12px;
  border: 1px solid black;
}

caption {
  font-size: 36px;
}
